
#link{ text-align: center;
       height: 50px;
      
}

#rodape{ text-align: center;

}

#parag{ text-align: center; 
        color:red; 
}

#body{ background-color:  rgb(176, 232, 237) ;

}

#botao{ background-color: rgb(194, 194, 194)

}

#titulo{ text-align: center;

}







